<div class="wrapper fadeInDown">
    <div id="formContent" class="row justify-content-center">
        <div class="fadeIn first row justify-content-center">
            <img src="https://images.vexels.com/media/users/3/151085/isolated/preview/867e0888d3253c1aa31546e37f06ab20-bombilla-icono-de-doodle-by-vexels.png" id="icon" alt="User Icon"
                style="width: 20%; margin:5%; transform: rotate(20deg);" />
        </div>
        <div>
            <h2>Bienvenido a Proyecto de proyectos</h2>
            <input (click)='verification()' type="submit" class="fadeIn fourth botonLogin" style="font-size: 120%;" value="Verifica tu email">
        </div>
    </div>
</div>