<div *ngIf="changePasswordService.modal" class="abrir-modal animacion fadeIn" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 960px;">
        <div class="modal-content" style="align-items: center !important;">
            <div class="modal-header">
                <button type="button" class="close editarPerfilCerrar" data-dismiss="modal" aria-hidden="true"
                    (click)="changePasswordService.cerrarChange()">
                    <fa-icon style="float:right; color: #FF8B40;font-size: 130%;" [icon]="faTimes" alt="Cerrar"
                        aria-label="Cerrar" title="Cerrar">
                    </fa-icon>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body text-center">
                <form #registration="ngForm">
                    <div class="fadeIn third row justify-content-center">
                        <div class="justify-content-center divPassword">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required>
                            <button title="Mostrar contraseña" style="height: 68px;" (click)="mostrarPassword()"
                                class="editarPerfil">
                                <fa-icon id="sinMostrarpass" style="color: #FF8B40;font-size: 130%;"
                                    [icon]="faEyeSlash"></fa-icon>
                                <fa-icon id="mostradopass" style="display:none; color: #FF8B40;font-size: 130%;"
                                    [icon]="faEye">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="fadeIn third row justify-content-center">
                        <div class="justify-content-center divPassword">
                            <input type="password" id="repeatPassword" name="repeatPassword"
                                placeholder="Confirmar contraseña" required>
                            <button title="Mostrar contraseña" style="height: 68px;" (click)="mostrarRepeat()"
                                class="editarPerfil">
                                <fa-icon id="sinMostrarrepeat" style="color: #FF8B40;font-size: 130%;"
                                    [icon]="faEyeSlash"></fa-icon>
                                <fa-icon id="mostradorepeat" style="display:none; color: #FF8B40;font-size: 130%;"
                                    [icon]="faEye">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button role="button" (click)='change()' class="btn btn-default text-white" data-dismiss="modal">Cambiar
                    contraseña</button>
            </div>
        </div>
    </div>
</div>