<div class="wrapper fadeInDown">
        <div id="formContent">
    
            <div class="fadeIn first row justify-content-center">
                    <img src="https://images.vexels.com/media/users/3/151085/isolated/preview/867e0888d3253c1aa31546e37f06ab20-bombilla-icono-de-doodle-by-vexels.png" id="icon" alt="User Icon"
                    style="width: 20%; margin:5%; transform: rotate(20deg);" />
            </div>
    
            <form #registration="ngForm">
                <div class="fadeIn third row justify-content-center">
                    <div class="justify-content-center divPassword">
                        <input type="password" id="password" name="password"
                            placeholder="Contraseña" required>
                        <button title="Mostrar contraseña" style="height: 68px;" (click)="mostrarPassword()"
                            class="editarPerfil">
                            <fa-icon id="sinMostrarpass" style="color: #FF8B40;font-size: 130%;" [icon]="faEyeSlash"></fa-icon>
                            <fa-icon id="mostradopass" style="display:none; color: #FF8B40;font-size: 130%;" [icon]="faEye">
                            </fa-icon>
                        </button>
                    </div>
                </div>
                <div class="fadeIn third row justify-content-center">
                    <div class="justify-content-center divPassword">
                        <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Confirmar contraseña" required>
                        <button title="Mostrar contraseña" style="height: 68px;" (click)="mostrarRepeat()"
                            class="editarPerfil">
                            <fa-icon id="sinMostrarrepeat" style="color: #FF8B40;font-size: 130%;" [icon]="faEyeSlash"></fa-icon>
                            <fa-icon id="mostradorepeat" style="display:none; color: #FF8B40;font-size: 130%;" [icon]="faEye">
                            </fa-icon>
                        </button>
                    </div>
                </div>
                <input (click)='verification()' type="submit" class="fadeIn fourth botonLogin" value="Enviar">
            </form>
        </div>
    </div>