<div *ngIf="proyectoNewService.new == true" class="abrir-modal animacion fadeIn" id="modalProy" tabindex="-1"
    role="dialog" aria-labelledby="modalProyLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 960px;">
        <div class="modal-content" style="align-items: center !important;">
            <div class="modal-header">
                <button type="button" class="close editarPerfil" data-dismiss="modal" aria-hidden="true"
                    (click)="proyectoNewService.cerrarModalProy()">
                    <fa-icon style="float: left; color: #FF8B40;font-size: 130%;" [icon]="faTimes" alt="Cerrar"
                        aria-label="Cerrar" title="Cerrar">
                    </fa-icon>
                </button>
                <h4 class="modal-title text-center" id="modalProyLabel">{{tituloNew}}</h4>
            </div>
            <div class="modal-body text-center" style="width: 100%; height: 100%;">
                <form #proyectoNew="ngForm">
                    <div class="my-3 input-group justify-content-center">
                        <div class="info form-group">
                            <input type="text" class="form-control" [(ngModel)]="proyecto.titulo" name="titulo"
                                #titulo="ngModel" placeholder="Titulo del proyecto">
                            <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                                <div *ngIf="titulo.errors.required">
                                    El titulo no puede estar vacío.
                                </div>
                            </div>
                        </div>
                        <div class="info form-group">
                            <textarea type="text" class="form-control" [(ngModel)]="proyecto.descripcion"
                                name="descripcion" #descripcion="ngModel"
                                placeholder="Escriba aquí una breve descripción de su proyecto"></textarea>
                            <div class="alert alert-danger"
                                *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                <div *ngIf="descripcion.errors.required">
                                    La descripción no puede estar vacía.
                                </div>
                            </div>
                        </div>
                        <div class="info form-group">
                            <input type="text" class="form-control" [(ngModel)]="proyecto.urlGitHub" name="urlGitHub"
                                #urlGitHub="ngModel" placeholder="Url del repositorio del proyecto en GitHub">
                            <div class="alert alert-danger"
                                *ngIf="urlGitHub.invalid && (urlGitHub.dirty || urlGitHub.touched)">
                                <div *ngIf="urlGitHub.errors.required">
                                    La url de GitHub no puede estar vacía.
                                </div>
                            </div>
                        </div>
                        <div class="info form-group">
                            <select class="form-control selectpicker" id="selectTag" multiple>
                                <option *ngFor="let tag of tags" id="{{tag.id}}" value="{{tag.id}},{{tag.tag}}">
                                    {{tag.tag}}</option>
                            </select>
                        </div>
                        <div class="info form-group">
                            <label for="newTags">Añadir tags:</label>
                            <input type="text" class="form-control" id="newTags" [(ngModel)]="tagsNew" name="newTags"
                                #newTags="ngModel"
                                placeholder="Si deseas añadir más de un tag, deberás separarlo con ','">
                        </div>
                        <div class="info form-group">
                            <select class="form-control selectpicker" id="selectCiclo" data-title="Seleccione un ciclo"
                                [(ngModel)]="proyecto.ciclo_siglas" name="ciclo_siglas" #ciclo_siglas="ngModel">
                                <option *ngFor="let x of ciclos" value="{{x.siglas}}">{{x.siglas}}</option>
                            </select>
                            <div class="alert alert-danger"
                                *ngIf="ciclo_siglas.invalid && (ciclo_siglas.dirty || ciclo_siglas.touched)">
                                <div *ngIf="ciclo_siglas.errors.required">
                                    Debes seleccionar a que ciclo pertenece el proyecto.
                                </div>
                            </div>
                        </div>
                        <div class="info form-group">
                            <select class="form-control selectpicker" id="selectConvocatoria"
                                data-title="Seleccione una convocatoria" [(ngModel)]="proyecto.convocatoria"
                                name="convocatoria" #convocatoria="ngModel">
                                <option *ngFor="let x of convocatorias" value="{{x.mes}}">{{x.mes}}</option>
                            </select>
                            <div class="alert alert-danger"
                                *ngIf="convocatoria.invalid && (convocatoria.dirty || convocatoria.touched)">
                                <div *ngIf="convocatoria.errors.required">
                                    Debes seleccionar en que convocatoria se presentará el proyecto.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <ul *ngIf="errores?.length>0" class="alert alert-danger">
                <li *ngFor="let err of errores">
                    {{err}}
                </li>
            </ul>
            <div class="modal-footer">

                <button role="button" (click)='create()' class="btn btn-default text-white" data-dismiss="modal"
                    [disabled]="!proyectoNew.form.valid">Crear nuevo proyecto</button>

            </div>
        </div>
    </div>
</div>