.btn-default {
    background-color: #FF8B40;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-info {
    background-color: #5bc0de;
}

.label-success {
    background-color: #5cb85c;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 1%;
    font-size: medium;
}

.editarPerfil {
    border: none;
    float: right;
    background-color: transparent;
    position: absolute;
    right: 0;
    margin-right: 1%;
}

.mas{
    font-size: larger;
}

selectpicker {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: max-content;
}

button.actions-btn.bs-select-all.btn.btn-light{
    display: none !important;
}